* {margin: 0; padding: 0;}
html, body {
    font-family: Monospace;
    text-align: center;
    background-color: #000000;
    color: #CECED1;
    user-select: none;
    /*width: 50%;*/
    /*height: 100%;*/
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
canvas {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%; }

h1 {
    color: #CECED1;
    padding-bottom: 3px;
}
h2,h3,h4 {
    color: #CECED1;
}

div.paneldiv {
    display: block;
    background-color: transparent;
    z-index: 2;
    color: #CECED1;
    font-size: 12pt;
    text-align: left;
    margin-bottom: 15px;
}

div.instructions{
    display: block;
    background-color: transparent;
    z-index: 2;
    color: #CECED1;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;

}

div.title {
    text-align: left;
    top: 10px;
    left: 10px;
    color: #CECED1;
    position: relative;
    z-index: 2;
    background-color: transparent;
}

div.fullpanel {
    margin: 20px 20px;
    position: relative;
    z-index: 2;
    background: rgba(1, 1, 1, 0.5);
    overflow: hidden;
    padding-bottom: 20px;
    padding-right: 20px;
    width: fit-content;
    height: fit-content;
}

hr.titlebar {
    width: available;
    margin-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.toggle {}

table.keytable td {
    table-layout: fixed;
    width: 180px;
    text-align: left;
    color: #CECED1;
    font-size: 10pt;
}