* {
    margin: 0;
    padding: 0;
}

.toggle {}

html,
body {
    font-family: Monospace;
    text-align: center;
    background-color: #000000;
    color: #CECECE;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

div.basic {
    display: block;
    background-color: transparent;
    z-index: 1;
    color: #CECECE;
    font-size: 12pt;
    text-align: left;
    margin-bottom: 15px;
    left: 10px;
}

div.basicsmall {
    display: block;
    background-color: transparent;
    z-index: 1;
    color: #CECECE;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 15px;
    left: 10px;
}

div.leftmenubackground {
    position: relative;
    z-index: 2;
    background: rgba(1, 1, 1, 0.7);
    overflow: hidden;
    width: 312px;
    height: 570px;
}

div.title {
    text-align: left;
    top: 10px;
    left: 10px;
    color: #CECECE;
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
}

h1 {
    color: #CECECE;
    padding-bottom: 3px;
}
h2,h3,h4 {
    color: #CECECE;
}

table.keytable td {
    table-layout: fixed;
    width: 180px;
    text-align: left;
    color: #CECECE;
    font-size: 10pt;
    left: 10px;
}

table.quality {
    font-size: 10pt;
    border-spacing: 5px;
    left: 10px;
}

