* {margin: 0; padding: 0;}
html, body {
    fontFamily: Monospace;
    textAlign: center;
    backgroundColor: #000000;
    color: #CECED1;
    userSelect: none;
    /*width: 50%;*/
    /*height: 100%;*/
    margin: 0;
    overflowY: hidden;
    overflowX: hidden;
    textShadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
canvas {
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: #CECED1;
    paddingBottom: 3px;
}
h2,h3,h4 {
    color: #CECED1;
}