* {margin: 0; padding: 0;}
html, body {
    font-family: Monospace, sans-serif;
    text-align: center;
    background-color: #000000;
    color: #CECED1;
    user-select: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
canvas {
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: #CECED1;
    padding-bottom: 3px;
}
h2,h3,h4 {
    color: #CECED1;
}