* {margin: 0; padding: 0;}
html,
body {
    font-family: Monospace;
    text-align: center;
    background-color: #000000;
    color: #CECECE;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000
}

canvas {
    display: block;
    position: absolute;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1 {
    color: #CECECE;
    padding-bottom: 3px;
}
h2,h3,h4 {
    color: #CECECE;
}

div.description {
    padding-top: 30px;
    padding-bottom: 15px;
}

div.keymap {
    text-align: left;
}

div.lefttitle {
    text-align: center;
    top: 10px;
    /*left: 30px;*/
    color: #CECECE;
    position: relative;
    z-index: 2;
}

div.tbackground {
    position: relative;
    z-index: 2;
    background: rgba(1, 1, 1, 0.7);
    overflow: hidden;
    width: 322px;
    /*height: 470px;*/
}

div.padded {
    padding-top: 12px;
}

/*div.particles {*/
    /*text-align: left;*/
    /*padding-left: 15px;*/
/*}*/

/*div.slider {*/
    /*!*text-align: left;*!*/
    /*!*padding-left: 15px;*!*/
/*}*/

div.toggle {}

table.checktable {
    border-spacing: 10px;
}