---
---

@import "{{ site.theme }}";
img { background: transparent; }
images { background: transparent; }
img.mini { }
.inner {
  width: 67%;
  margin: 0 auto;
  text-align: left;
}

div.thumbnail { }

.thumbnail p {
  width: 100%;
  text-align: center;
}

.summary p {
  width: 100%;
  text-align: left;
}
