html, body {
    font-family: Monospace, sans-serif;
    font-size: 1em;
    background-color: #CECECE;
    text-align: center;
    color: #222222;
    user-select: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: inline-block;
    margin: 100px auto;
}

canvas {
    border: 1px solid black;

}

.textfield * {
    vertical-align: top;
}