* {margin: 0; padding: 0;}
html,
body {
    font-family: Monospace;
    /*text-align: center;*/
    background-color: #DEE0E4;
    color: #333333;
    width: 100%;
    height: 100%;
    margin: 0;
}