:root {
    --pulse-speed: 0;    /* seconds */
    --pulse-intensity: 0;/* 0 to 1 (blend factor) */
    --shake-speed: 0;    /* seconds */
    --shake-distance: 0; /* px */
}

html {
    background: url("../assets/media/background.jpg") repeat;
}

/*header {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #f0f0fa;
    text-shadow: 1px 1px 3px black;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
    background-color: hsl(336, 80%, 47%);
    opacity: 0;
    animation: pulseOverlay var(--pulse-speed) infinite alternate ease-in-out;
    color: #f0f0fa;
    text-shadow: 1px 1px 2px black;
    z-index: -1;
}

@keyframes pulseOverlay {
    from { opacity: 0; }
    to { opacity: var(--pulse-intensity); } /* Adjust this for more or less intensity */
}

.title {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    white-space: nowrap;  /* Forces single line */
    overflow: hidden;     /* Hides any overflow */
    text-overflow: ellipsis; /* Adds ... if text is too long */
    margin: 5px;
}

/* Basic layout */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Portrait mode: thermometer on top, checkboxes below */
@media (orientation: portrait) {
    main {
        height: 90vh;
        width: auto;
    }

    .title {
        font-size: 15vh;
    }

    .thermometer-container {
        order: 1;
        margin-bottom: 15px;
        /*height: 40vh;*/
    }
    .checkboxes-container {
        order: 2;
        /*height: 30vh;*/
    }
}

/* Landscape mode: thermometer on left, checkboxes on right */
@media (orientation: landscape) {
    main {
        flex-direction: row;
        align-items: center;
        width: 90vw;
        height: auto;
    }

    .title {
        font-size: 15vh;
    }

    .thermometer-container, .checkboxes-container {
        flex: 1;
        /*width: 40vw;*/
    }
}

/* Thermometer styling */
.thermometer-wrapper {
    margin: 5px;
}
.thermometer {
    width: 100%;
    height: 100%;
    animation: shake var(--shake-speed) infinite ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(var(--shake-distance)); }
    50% { transform: translateX(calc(var(--shake-distance) * -1)); }
    75% { transform: translateX(var(--shake-distance)); }
    100% { transform: translateX(0); }
}

.fill {
    fill:#FF4846;
    transform-origin: bottom center;
    transform: scaleY(0);
    transition: transform 0.25s ease; /* animate fill level changes */
}

/* Checkboxes styling */
.checkboxes-container label {
    display: block;
    margin: 5px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.science {
    font-family: 'Jolly Lodger', 'sans-serif';
    font-size: 4em;

}