* {margin: 0; padding: 0;}
html, body {
  font-family: Monospace, sans-serif;
  font-size: 1em;
  background-color: #000000;
  color: #CECED1;
  user-select: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.overlay-box {
  position:absolute;
  top:50%;
  left:50%;
  max-width: 90%;
  /*width:min(460px, 80%);*/
  transform:translate(-50%, -50%);
  color: #CECED1;
  background: #111111dd;
  z-index: 1000;
  text-align: center;
  padding: 15px;
}

canvas.mainCanvas {
  display: block;
  position: absolute;
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}

h1 {
  color: #CECED1;
  padding-bottom: 3px;
}
h2,h3,h4 {
  color: #CECED1;
}

div.paneldiv {
  display: block;
  background-color: transparent;
  z-index: 2;
  color: #CECED1;
  font-size: 12pt;
  text-align: left;
  margin-bottom: 15px;
}

div.instructions{
  display: block;
  background-color: transparent;
  z-index: 2;
  color: #CECED1;
  font-size: 10pt;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 10px;

}

div.title {
  text-align: left;
  top: 10px;
  left: 10px;
  color: #CECED1;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

div.fullpanel {
  margin: 20px 20px;
  position: relative;
  z-index: 2;
  background: rgba(1, 1, 1, 0.7);
  overflow: hidden;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  /*height: fit-content;*/
}

hr.titlebar {
  width: 180px;
  margin-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.toggle {}

input.slider {
  width: 200px;
  margin-bottom: 10px;
}

select.scene {
  width: 200px;
  font-size: 10px;
}

div.nowebglpanel {
  display: none;
}
